@tailwind base;
@tailwind components;
@tailwind utilities;

*, html {
  padding: 0;
  margin: 0;
  font-family: url('/fonts/Sternbach.ttf');
}

body {
  background-image: url('../assets/post4.jpeg');

  background: radial-gradient(#FFD700, rgb(249, 162, 22));
  /* background: radial-gradient(#347bff, #3f16af); */
  
  /* background-size: contain;
  background-repeat: no-repeat; */
}

.ufc__font {
  font-family: 'Sternbach', sans-serif;
  /* font-family: 'Sternbach Hollow', sans-serif; */
}

.bg__squad {
  background-image: url('../assets/field.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
